<!DOCTYPE html>
<html lang="en">
<head>
    <title>ToDo List</title>
</head>
<body>

{% block welcome %}{% endblock %}
{% block content %}{% endblock %}
{% block menu %}{% endblock %}

</body>
</html>